#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - var(--header-height));

  position: relative;
}
body {
  background-image:url("/resources/img/aboutme.png")
}

h1 {
  margin-bottom: 30px;
  font-family: var(--font-nunito) ;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-transform: uppercase;
  font-weight: 100;
}

#info {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  position: relative;
  top: 0;
  bottom: 0;

  --padding-middle: 2em;
}

#info > div {
  position: relative;
  top: 0;
  bottom: 0;
  display: flex;
  /* justify-content: center; */
}

#info > :nth-child(1) {
  justify-content: right;
  padding-right: var(--padding-middle);;
}

#info > :nth-child(2) {
  justify-content: center;  
}

#natalie-photo {
  float: left;
  max-width: 300;
  max-height: 390;
}

#description {
  width: 132;
  height: 100;
clear: both;
}