#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - var(--header-height));

  position: relative;
}
body {
  background-image:url("/resources/img/aboutme.png")
}

h1 {
  margin-bottom: 30px;
  font-family: var(--font-nunito) ;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 100;
}

#natalie-photo {
  float: left;
  max-width: 200px;
  max-height: 260px;
  margin: 15px;
}

#description {
  text-align: left;
  margin: 15px;}