#hero-section {
  min-height: calc(100vh);
  margin: 0;
  margin-top: calc(-1 * var(--header-height));
  display: flex;
  align-items: center;
  justify-content: center;
  color: azure;
  
}

body {
  background-attachment: fixed;
  background-image: linear-gradient(0deg, rgba(53, 17, 17, 0.082), rgba(0, 0, 0, 0.192)), url("../img/blackbackground.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

#logo-hero {
  width: 500px;
  max-width: 500px;
}

#hero-card {
  color: var(--clr-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero-section h1 {
  text-align: center;
  margin-top: 40px;
  font-weight: var(--weight-nunito-light);
  font-family: var(--font-nunito);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}

#hero-section h1 span {
  margin: 0 1em;
  margin-top: 20px;
}

@media all and (max-width: 550px) {
  #hero-section h1 {
    flex-direction: column;
    font-size: 30px;
  }

  #hero-section h1 span {
    margin-top: 50px;
  }

  #logo-hero {
    width: 80%;
    max-width: 75%;
  }

  #hero-section {
    background-position: 20%;
  }
}