#gallery {
  min-height: calc(100vh - var(--header-height));
}
body {
  background-image:url("/resources/img/aboutme.png")
}

h1 {
  font-family: var(--font-nunito) ;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center ;
}

#photo-grid {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: center;
}

#photo-grid > img {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);
}

#pricing {
  min-height: 100vh;
  font-family: var(--font-nunito);
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 4px;
}

#see-pricing {

  /* width: 100px; */
  z-index: 98;
  display: block;

  padding: 1em;
  text-align: center;
  font-family: var(--font-nunito);
  font-weight: 100;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-nunito);
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 4px;
}


/* pricing */
#pricing-table {
margin-top: 30px;
  margin: 0 auto;
  font-family: var(--font-nunito);
  font-weight: 100;
  text-transform: uppercase;
}

#description, h2 {
  text-align: center;
  position: relative;
  font-family: var(--font-nunito);
  font-weight: 100;
}