
#header-pricing{

    text-align: center;
    font-family: 'nothingyoucoulddo';
    letter-spacing: 2px;
    text-transform: lowercase;
    font-weight: 200;
    font-size: x-large;
    bottom: -3px;
}
#pricingphotos {
    min-height: 100vh;
    font-family: var(--font-nunito);
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: -20px;
    background-image: url(resources/img/pricephotos.jpg);
    background-attachment: local;
    background-size: cover;
  }
  
  #see-pricing {
  
    /* width: 100px; */
    z-index: 98;
    display: block;
  
    padding: 1em;
    text-align: center;
    font-family: var(--font-nunito);
    font-weight: 100;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-nunito);
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  
  /* pricing */
  #pricing-table1 {
  margin-top: -30px;
    margin: 0 auto;
    font-family: var(--font-nunito);
    font-weight: 100;
    text-transform: uppercase;
  }
  #description-photos{
    text-align: center;
    position: relative;
    font-family: var(--font-nunito);
    font-weight: 100;
    font-style: italic; 
    margin-left: 205px;  
    margin-right: 205px;
    text-transform: none;
    letter-spacing: normal;
  }
  #description-weddings{
    text-align: center;
    position: relative;
    font-family: var(--font-nunito);
    font-weight: 100;
    font-style: italic; 
    margin-left: 205px;  
    margin-right: 205px;
    text-transform: none;
    letter-spacing: normal;
    position: relative;
  }
  
  #description {
    text-align: center;
    position: relative;
    font-family: var(--font-nunito);
    font-weight: 100;
  }
  h3, h2{
    text-align: center;
    position: relative;
    font-family: var(--font-nunito);
    font-weight: 100;
    font-size: large;
    margin: auto;
  }

  #pricing-table2 {
    margin-top: -30px;
      margin: 0 auto;
      font-family: var(--font-nunito);
      font-weight: 100;
      text-transform: uppercase;
      position: relative;
    }
    #pricingweddings{
    margin-top: -300px;
    min-height: 100vh;
    font-family: var(--font-nunito);
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    background-image: url(resources/img/priceweddings.jpg);
    background-attachment: local;
    background-size: cover;
    }