

#pricingphotos {
    min-height: 100vh;
    font-family: var(--font-nunito);
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: -20px;
  }
  
  #see-pricing {
  
    /* width: 100px; */
    z-index: 98;
    display: block;
  
    padding: 1em;
    text-align: center;
    font-family: var(--font-nunito);
    font-weight: 100;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-nunito);
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  
  /* pricing */
  #pricing-table1 {
  margin-top: -30px;
    margin: 0 auto;
    font-family: var(--font-nunito);
    font-weight: 100;
    text-transform: uppercase;
  }
  
  #description {
    text-align: center;
    position: relative;
    font-family: var(--font-nunito);
    font-weight: 100;
  }
  h3, h2{
    text-align: center;
    position: relative;
    font-family: var(--font-nunito);
    font-weight: 100;
    font-size: large;
    text-decoration: underline;
    
  }

  #pricing-table2 {
    margin-top: -30px;
      margin: 0 auto;
      font-family: var(--font-nunito);
      font-weight: 100;
      text-transform: uppercase;
    }
    #pricingweddings{
    margin-top: 10px;
    min-height: 100vh;
    font-family: var(--font-nunito);
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 4px;
    }