@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

@font-face {
  font-family: futura;
  src: url(../fonts/Futura\ Book\ font.ttf);
}

:root {
  --clr-dark: black;
  --clr-light: aliceblue;

  --header-height: 95px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: clamp(.2rem, 1.2rem, 1.5rem);
  color: var(--clr-light);
}

body {
  position: relative;

  background-attachment: fixed;
  background-image: linear-gradient(0deg, rgba(53, 17, 17, 0.082), rgba(0, 0, 0, 0.192)), url("/resources/img/blackbackground.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  display: block;
  max-width: 100%;
}

a,
a:link,
a:visited {
  color: var(--clr-light);
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 100;
  padding: 0 10%;
}

iframe {
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

table {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  text-align: center;
  overflow-x: scroll;
}

th {
  text-align: left;
}

th,
td {
  padding: 2em;
}

@media screen and (max-width: 780px) {
  table {
    font-size: 20px;
  }
}

@media screen and (max-width: 540px) {
  th,
  td {
    padding: 1em;
  }

  table {
    font-size: 15px;
  }
}

/* header styling */
header {
  width: 100%;
  height: var(--header-height);
  margin: 0;
  position: relative;
  top: 0;
  background: transparent;
  z-index: 999;
  font-family: 'Nunito';
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}

#menu a,
#menu li {
  width: max-content;
  line-height: var(--header-height);
  text-align: center;
  display: inline-block;
}

#menu a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 100;
  padding: 0 1em;
}

#menu a:hover {
  text-decoration-line: line-through;
}

/* mobile menu */
#hamburger-icon {
  display: inline-block;
  cursor: pointer;
  display: none;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--clr-light);
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 2px;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}



@media screen and (max-width: 670px) {
  #hamburger-icon {
    margin-left: 20px;
    margin-top: 20px;
    display: block;
  }
  #menu {
    transform-origin: left;
    transform: scaleX(0);
    flex-direction: column;
    align-items: flex-start;
    background: black;
    width: fit-content;
    padding-right: 3em;
    padding-bottom: 2em;
    padding-top: 2em;

    transition: transform .2s ease-in-out;
  }

  #menu.mobile-visible {
    transform: scaleX(1);
  }
}

/* utility classes */
.iframe-container {
  box-sizing: content-box;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.center-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

/* Footer */
footer {
  margin: 5em 0 2em;
  padding: 0 10%;
  text-align: center;
  font-size: clamp(.2rem, 1.2rem, 1.5rem);
}

