:root {
  --clr-accent: rgb(111, 111, 235);
  --clr-dark: black;
  --clr-light: white;

  --header-height: 75px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

/* header styling */
header {
  --navlogo-size: 200px;

  /* background: rgb(169, 169, 236); */
  width: 100%;
  height: var(--header-height);
  margin: 0;
  position: sticky;
  border-bottom: 1px solid var(--clr-accent);
}

#nav-logo {
  width: var(--navlogo-size);
  padding-top: 14px;
  cursor: pointer;
}

header > nav > ul {
  display: flex;
  flex-direction: row;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}

#menu {
  display: inline-block;
  width: 100%;
}

#menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
}

#menu a, #menu li {
  width: max-content;
  line-height: var(--header-height);
  text-align: center;
  display: inline-block;
}

#menu a {
  text-decoration: none;
  color: var(--clr-accent);
  padding: 0 1em;
}


/* universal classes */
.card {
 --width: 80%;

  background-color: var(--clr-dark);
  color: var(--clr-light);
  width: var(--width);
  margin-left: calc((100% - var(--width)) / 2);
  padding: 5em;
}