@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
  --clr-accent: #7cfeff;
  --clr-accent-secondary: #ff75fc;
  --clr-dark: black;
  --clr-light: white;

  --font-nunito: 'Nunito';
  --weight-nunito-regular: 400;
  --weight-nunito-bold: 700;

  --header-height: 95px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  position: relative;
  font-family: var(--font-nunito);
  font-weight: var(--weight-nunito-regular);
}

img {
  display: block;
  max-width: 100%;
}

/* header styling */
header {
  --navlogo-size: 200px;

  /* background: rgb(169, 169, 236); */
  width: 100%;
  height: var(--header-height);
  margin: 0;
  position: relative;
  top: 0;
  /* border-bottom: 1px solid var(--clr-accent); */
  background: transparent;
  z-index: 999;
}

#nav-logo {
  width: var(--navlogo-size);
  max-width: var(--navlogo-size);
  padding-left: 5px;
  padding-top: 10px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

header > nav > ul {
  display: flex;
  flex-direction: row;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}

#hamburger-button {
  display: none;
}

#close-modal {
  display: none;
}

#menu {
  display: inline-block;
  width: 100%;
}

#menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
}
ul li:not(:last-child)::after{
  content:""; 
  border:1px solid #e2e2e2;
  border-width: 1px 1px 0 0;
  position:absolute; 
  right:-3px; 
  top:0; 
  height:100%;
}

#menu a, #menu li {
  width: max-content;
  line-height: var(--header-height);
  text-align: center;
  display: inline-block;
}

#menu a {
  text-decoration: none;
  text-transform:uppercase;
  color: black;
  padding: 0 1em;
}

#menu a:hover {
  text-shadow: 1px 1px 1px var(--clr-accent)
}

@media all and (max-width: 1080px) {
  /* change menu positioning for semi-small screen sizes */
  #menu ul {
    left: var(--navlogo-size)
  }
}

@media all and (max-width: 760px) {
  /* display modal button and allow for modal */
  #hamburger-button {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    font-size: 20px;
  }

  #menu ul {
    display: none;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    height: max(410px, 60vh);
    width: max(305px, 60vw);
    border: 2px solid var(--clr-accent);
    background: var(--clr-light);
    z-index: 999;

    /* "blur" outside of the modal (actually darken) */
    -webkit-box-shadow: 0px 0px 0px 100vh #00000083; 
    box-shadow: 0px 0px 0px 100vh #00000083;
    /* flex styling for when modal is active */
    flex-direction: column;
  }

  #close-modal {
    display: block;
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 25px;
  }

  #close-modal, #hamburger-button {
    background: none;
    border: none;
    color: var(--clr-accent);
  }

  #close-modal:hover, #hamburger-button:hover {
    opacity: .8;
  }

  /* #menu ul:before {
    content: '';
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: rgba(109, 109, 109, 0.301);
    z-index: -1;
  } */
}

/* footer stlyling */
footer {
  --footer-height: 300px;

  position: absolute;
  bottom: calc(-1 * var(--footer-height));
  left: 0;
  right: 0;
  height: var(--footer-height);
}

footer::before {
  content: '';
  height: 2px;
  width: 80%;

  position: absolute;
  right: 50%;
  transform: translateX(50%);
  background: var(--clr-accent);
  
  top: 30px;
}

#footer-heading {
  text-align: center;
  color: white;
  text-shadow:1px 1px 1px var(--clr-accent) ;
  margin-top: 100px;
  font-weight: var(--weight-nunito-light);
  font-family: var(--font-nunito);
  text-transform: uppercase;

}

footer nav {
  display: flex;
  justify-content: center;
}

#social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75%;
  justify-content: center;
  /* margin-top: 20px; */
}

.social-link {
  color: white;
}

.social-list {
  margin: 0 1em;
}

.social-list {
  margin-top: 20px;
}

.social-link {
  text-decoration: none;
}

.social-link > span {
  margin-left: 1ch;
}

@media all and (max-width: 400px) {
  /* odd social media behavior at small screen sizes */
  #social-list {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 4em;
  }
}

/* universal classes */
.iframe-container {
  box-sizing: content-box;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

iframe {
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.header-spacer {
  width: 100%;
  height: var(--header-height);
}

.center-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}





.tooltip:hover:before, .tooltip:hover:after {
  visibility: visible;
}

table {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

th {
  text-align: left;
}

tr {
  border: 1.5px solid var(--border-color);
}

th, td {
  padding: 2em;
}

.dotted-separator {
  --margin-top: 100px;
  margin-top: var(--margin-top);
  position: relative;
}

.dotted-separator::before {
  content: '';
  height: 0px;
  width: 50%;
  border-top: 2px dotted var(--clr-accent);
  /* border-bottom: 2px groove rgb(194, 109, 109); */
  position: absolute;
  top: calc(-1 * var(--margin-top) / 2 );
  left: 50%;
  transform: translateX(-50%);
}

button {
  cursor: pointer;
}