.videos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.size {
  margin-bottom: 50px;
  flex-basis: 40%;
  min-width: 200px;
  border-style: solid;
  border-width: 0px;
}

#pricing-table-wedding,
#pricing-table-promos {
  margin: 0 auto;
  font-weight: 100;
  text-transform: uppercase;
}

#description-weddings,
#description-promos {
  text-align: center;
  padding: 0 2em;
  line-height: 25px;
  font-weight: lighter;
  letter-spacing: 1px;
}

#description-weddings {
  margin-bottom: 4em;
}