




/* videos */


body {
  background-attachment: fixed;
  background-image: linear-gradient(0deg, rgba(53, 17, 17, 0.082), rgba(0, 0, 0, 0.192)), url("/resources/img/blackbackground.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: -50px;
}

#wedding-section {
  margin-bottom: 80px;
  min-height: calc(100vh - var(--header-height));

}

h1{
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 100;
  text-align: center ;
  font-size: 20px;
  margin-bottom: 50px;
  color: aliceblue;
}

#videos {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 25px;

  /* gap: 50px; */
}

.size {
  margin-bottom: 50px;
  flex-basis: 40%;
  min-width: 200px;
  border-style:solid;
  border-width: 0px;
  color: white;
}


#promosection{
  margin-bottom: 80px;
  min-height: calc(100vh - var(--header-height));
  }

  #videos2
  {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 25px;
  }

  h3{
    text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 100;
  text-align: center ;
  font-size: 15px;
  margin-bottom: 10px;
  color: aliceblue;}
  
  #pricing-table-wedding {
    margin-top: -30px;
    margin-bottom: -35px;
    margin: 0 auto;
    text-align: center;
    font-family: futura;
    font-weight: 100;
    text-transform: uppercase;
    position: relative;
    align-items: center;
    color: white
  }
  #pricing-table-promos {
    margin-top: -30px;
    margin-bottom: -35px;
    margin: 0 auto;
    text-align: center;
    font-family: futura;
    font-weight: 100;
    text-transform: uppercase;
    position: relative;
    align-items: center;
    color: white
  }
  #description-weddings{
    text-align: center;
  margin-top: -10px;
  margin-right: 100px;
  margin-left: 100px;
  line-height: 25px;
  color: aliceblue;
  font-family: futura;
  font-weight:lighter;
  letter-spacing: 1px;
  font-size: 15px;
  }
  #description-promos{
    text-align: center;
  margin-top: -10px;
  margin-right: 100px;
  margin-left: 100px;
  line-height: 25px;
  color: aliceblue;
  font-family: futura;
  font-weight:lighter;
  letter-spacing: 1px;
  font-size: 15px;
  }
  h4{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 100;
    text-align: center ;
    font-size: 20px;
    margin-bottom: 50px;
    color: aliceblue;
  }
  





.size {
  margin-bottom: 50px;
  flex-basis: 40%;
  min-width: 200px;
}

h5{
  text-align: center;
  margin-top: -10px;
  margin-right: 100px;
  margin-left: 100px;
  line-height: 25px;
  color: aliceblue;
  font-family: futura;
  font-weight:lighter;
  letter-spacing: 1px;
}



 h6{

  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 100;
  text-align: center ;
  font-size: 20px;
  margin-bottom: 20px;
  color: aliceblue;
 }

 #email{
  text-align: center;
  margin-top: -10px;
  margin-right: 100px;
  margin-left: 100px;
  line-height: 25px;
  color: aliceblue;
  font-family: futura;
  font-weight:lighter;
  letter-spacing: 1px;;
  }

  #socials{
    text-align: center;
  margin-top: -10px;
  margin-right: 100px;
  margin-left: 100px;
  line-height: 25px;
  color: aliceblue;
  font-family: futura;
  font-weight:lighter;
  letter-spacing: 1px;
  }
  
 