body {
  background-image:url("/resources/img/lacebackgroundgradient.png")
}

h1 {

  padding: 1em 3em;
  margin: 0;
  border-radius: 100vw;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: var(--font-nunito-) ;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow:1px 1px 1px var(--clr-accent) ;
  text-shadow: -1px -1px 1px var(--clr-accent-secondary)
}

/* videos */
#video-section {
  min-height: calc(100vh - var(--header-height));
}

#videos {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* gap: 50px; */
}

.size {
  margin-bottom: 50px;
  flex-basis: 40%;
  min-width: 200px;
}

/* pricing */
h2 {
  
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: var(--font-caveat) ;
  text-transform: uppercase;
  text-transform: uppercase;
  font-size: 60px;
  color: rgb(255, 255, 255);
}
p{
  text-align: center;
  color: white;
}

#pricing summary {
  /* --margin-top: 100px; */
  text-align: center;
  padding: 0 15%;
  color:rgb(255, 255, 255)


}


#price-table {
  margin: 0 auto;
  color: white;
  font-family: var(--nunito);
}