
#hero-section {
  min-height: calc(100vh - var(--header-height));
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;

  background-image: linear-gradient(0deg, rgba(53, 17, 17, 0.082), rgba(0, 0, 0, 0.192)), url("../img/sunset.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

#logo-hero {
  width: 500px;
  max-width: 500px;
}
h1 {
  padding: 1em 3em;
  margin: 0;
  font-family: var(--font-nunito);
  font-weight: lighter;
  background: var(--clr-light);
  border: 2px solid var(--clr-accent);
  color: var(--clr-accent);
  border-radius: 100vw;
  background: #D0E4F5 url("https://wallpaperaccess.com/full/3862774.jpg") no-repeat local 10px 7px;
  
}

/* videos */
#video-section {
  min-height: calc(100vh - var(--header-height));
}

#videos {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* gap: 50px; */
}

.size {
  margin-bottom: 50px;
  flex-basis: 40%;
  min-width: 200px;
}

/* pricing */
h2 {
  text-align: center;
  margin-top: 50px;
}

#pricing summary {
  /* --margin-top: 100px; */
  margin-top: var(--margin-top);
  text-align: center;
  padding: 0 15%;
}

summary br {
  margin-bottom: 10px;
}

#price-table {
  --border-color: var(--clr-accent);
  margin: 0 auto;
}